@font-face {
    font-family: 'SF Distant Galaxy';
    src: local('SF Distant Galaxy'), url(fonts/SF\ Distant\ Galaxy.ttf), format('ttf');
  }
  
  body {
    background-color: black;
    margin: 0;
    font-family: 'SF Distant Galaxy';
  }
  
  #heading {
    position: fixed;
    width: 100%;
    padding: 32px;
  }
  
  .border {
    background: linear-gradient(90deg, gray, 90%, black);
    height: 2px;
    width: 80vw;
    margin-top: 4px;
  }
  
  h1 {
    color: rgb(215, 215, 215);
    font-size: 4em;
    margin: 0px;
    font-weight: 100;
  }
